{% extends "layout.nj.html" %}
{% block title %}Home Book Training{% endblock %}

{% block content %}

    <header class="text-center">
        <h1>List of Books</h1>
    </header>
    <div class="container" id="content">
        <div class="row">
            <div class="col-md-2">
                <a href="/add" class="btn btn-block btn-success">Add new</a>
            </div>
            <div class="col-md-10">
                <form method="get" action="/search">
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control" {% if condition %} value="{{condition.keyword}}" {% endif%} placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Price</th>
                    <th>&nbsp&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td></td>
                    <td><a href="/book/{{book._id}}">{{book.name}}</a></td>
                    <td>{{book.author}}</td>
                    <td>{{book.publisher}}</td>
                    <td>{{book.price}}</td>
                    <td>
                        <a href="/edit/{{book._id}}" class="btn btn-primary">Edit</a>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
